﻿@model IEnumerable<CustomersModel>
@{
    ViewData["Title"] = "Listado de Universidades";
}

<h1>Listado de Universidades</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="University" class="btn btn-success">
                    Nueva Universidad
                </a>
            </div>

            <table class="table table-bordered table-striped table-responsive" id="universitiesTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Universidad</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var university in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => university.Id)</td>
                            <td>@Html.DisplayFor(item => university.UniversityName)</td>
                            <td>@Html.DisplayFor(item => university.Phone)</td>
                            <td>
                                <a asp-controller="University"
                                   asp-action="Edit"
                                   asp-route-id="@university.Id"
                                   class="btn btn-primary">
                                    Editar
                                </a>
                                <a asp-controller="University"
                                   asp-action="Delete"
                                   asp-route-id="@university.Id"
                                   class="btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>