﻿@model IEnumerable<FacultyModel>
@{
    ViewData["Title"] = "Listado de Facultades";
}

<h1>Listado de Facultades</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="Faculty" class="btn btn-success">
                    Nueva Facultad
                </a>
            </div>

            <table class="table table-bordered table-striped table-responsive" id="facultiesTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Facultad</th>
                        <th>Universidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var faculty in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => faculty.Id)</td>
                            <td>@Html.DisplayFor(item => faculty.FacultyName)</td>
                            <td>@Html.DisplayFor(item => faculty.UniversityName)</td>
                            <td>
                                <a asp-controller="Faculty"
                                   asp-action="Edit"
                                   asp-route-id="@faculty.Id"
                                   class="btn btn-primary">
                                    Editar
                                </a>
                                <a asp-controller="Faculty"
                                   asp-action="Delete"
                                   asp-route-id="@faculty.Id"
                                   class="btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
