@model TiendaEJKM.Models.SalesModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1>Eliminar producto</h1>
    <hr />

    <h3>¿Está seguro que desea eliminarlo?</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <div class="col-sm-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.id_Sales)
                        </dt>
                    </div>
                    <div class="col-sm-10">
                        <dd>
                            @Html.DisplayFor(model => model.id_Sales)
                        </dd>
                    </div>
                    <div class="col-sm-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.Date_Sale)
                        </dt>
                    </div>
                    <div class="col-sm-10">
                        <dd>
                            @Html.DisplayFor(model => model.Date_Sale)
                        </dd>
                    </div>
                    <div class="col-sm-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.Total_Paid)
                        </dt>
                    </div>
                    <div class="col-sm-10">
                        <dd>
                            @Html.DisplayFor(model => model.Total_Paid)
                        </dd>
                    </div>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="id_Sales" type="hidden" class="for-control" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
                </form>
            </div>
        </div>
    </div>
</div>